{% extends "base_template.html" %}

{% block title %}Registro de usuarios{% endblock %}

{% block content %}
<div class="card-body">
    <img src="/static/img/img1.jpg" class="float-left" alt="Tu Block">
    <img src="/static/img/img1.jpg" class="float-right" alt="Tu Block">
    </div>


    {% if error %}
        <p style="color: red;"><strong>Error:</strong> {{ error }}
    {% endif %}
<div class="container pt-4">
    <div class="col-md-4 offset-md-4">
        <div class="card card-body">
            <div class="text-center">

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            <input type="text" name="name" placeholder="Nombre" class="form-control">
            {% for error in form.name.errors %}
            <span style="color:rgb(43, 255, 0);">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <input type="text" name="email" placeholder="Email" class="form-control">
            {% for error in form.email.errors %}
            <span style="color:rgb(43, 255, 0);">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Password" class="form-control">
            {% for error in form.password.errors %}
            <span style="color:rgb(43, 255, 0);">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <input class="btn btn-dark" type="submit" value="Registrar">   
        </div>
    </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}